<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<form id="deleteForm" action="/inv/delete" method="post" class="validated-form">
    <p>Confirm Deletion - The delete is permanent.</p>

    <label for="inv_make">Make</label>
    <input type="text" id="inv_make" name="inv_make" pattern="[a-zA-Z]{3,}" required value="<%= locals.inv_make %>" readonly>

    <label for="inv_model">Model</label>
    <input type="text" id="inv_model" name="inv_model" pattern="[a-zA-Z]{3,}" required value="<%= locals.inv_model %>" readonly>

    <label for="inv_price">Price</label>
    <input type="text" id="inv_price" name="inv_price" pattern="[0-9]+" required value="<%= locals.inv_price %>" readonly>

    <label for="inv_year">Year</label>
    <input type="text" id="inv_year" name="inv_year" pattern="\d{4}" required value="<%= locals.inv_year %>" readonly>

    <input type="submit" value="Delete" class="form-submit" id="submitButton">

    <input type="hidden" name="inv_id"
    <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
    <% } %>>
</form>